body {
  background-image: url("../../images/metin2-background.jpg");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-first {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: auto;
  margin: 20vh auto;
}
.modal-first h1 {
  color: #fff;
  text-align: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  margin: 30px 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 12px 28px 12px 12px;
  position: relative;
}
.card::after {
  content: "";
  position: absolute;
  background-color: #39181d;
  height: 1px;
  width: 92%;
  bottom: 0;
}
.card:last-of-type::after {
  content: "";
  display: none;
}
.card img {
  width: 52px;
  height: 54px;
  padding: 16px;
}
.card .content {
  width: 100%;
}
.card .content div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card .content .span {
  border: 0.8px solid #673232;
  height: 8px;
  width: 100%;
}
.card .content .span.off {
  display: none;
}
.span .progress {
  background-color: #452021;
  height: 8px;
}
.card .content .completed {
  background-color: #d91822;
}

.card .content h3 {
  color: #fffffe;
  margin: 12px 0 8px 0;
  font-weight: normal;
  font-size: 16px;
}
button {
  background-color: transparent;
  color: #dfdbdb;
  text-transform: uppercase;
  border: 1px solid #dfdbdb;
  border-radius: 4px;
  height: 28px;
  padding: 6px 10px;
}
button.true {
  color: #d91822;
  background-color: #36070a;
  border: 1px solid #d91822;
  font-weight: bold;
}
